* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Raleway', sans-serif;
}

/* nawigacja */

.nav {
	position: sticky;
	height: 50px;
	top: 0;
	background-color: #333;
	text-align: center;
	line-height: 50px;
	z-index: 100;
}

.nav-item {
	display: inline-block;
	text-decoration: none;
}

.nav-item a {
	padding: 15.5px 50px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 2px;
	transition: color 0.3s;
}

.nav-item a:hover {
	color: royalblue;
}

/* header */

.header-img {
	position: relative;
	height: 350px;
	background-image: url('../img/header-img-b.jpg');
	background-size: cover;
	background-position: 0 55%;
}

.header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 36px;
	z-index: 5;
}

.header-text h1 {
	margin-bottom: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 2px 2px 10px white;
}

.header-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(1, 2, 11, 0.684);
}

/* main */

main {
	margin: 50px auto;
	width: 1200px;
}

main h2 {
	margin-bottom: 30px;
	text-transform: uppercase;
	text-align: center;
}

.about-us-box {
	margin-top: 40px;
	position: relative;
	height: 300px;
	background-attachment: fixed;
	/* background-position: center; */
	border-radius: 50px 0px 50px 0px;
	overflow: hidden;
}

.about-us-text h3 {
	text-transform: uppercase;
	padding-bottom: 10px;
}

.top {
	background-image: url('../img/main-img-b.jpg');
	background-position: 200px;
}

.middle {
	background-image: url('../img/main-img-b2.jpg');
}

.bottom {
	background-image: url('../img/main-img-b3.jpg');
}

.about-us-text {
	position: absolute;
	bottom: 20px;
	padding: 20px 40px;
	text-align: center;
	color: #fff;
}

.about-us-bg {
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.64);
	height: 45%;
	width: 100%;
}

/* footer */

footer {
	height: 80px;
	line-height: 80px;
	background-color: #333;
	color: #ddd;
	text-align: center;
	font-size: 20px;
}

.icon-box {
	margin-left: 20px;
}

.icon-box a {
	margin: 0 5px;
	color: #ddd;
	font-size: 30px;
	transition: color 0.3s;
}

.icon-box a:hover {
	color: royalblue;
}

/* oferta */
.offer-box {
	position: relative;
	height: 400px;
	margin-top: 40px;
	border-radius: 50px 0px 50px 0px;
	overflow: hidden;
}

.offer-txt {
	position: absolute;
	bottom: 10px;
	padding: 20px 40px;
	color: white;
	text-transform: uppercase;
}

.offer-pic {
	background-image: url('../img/offer-img.jpg');
}

.offer-bg {
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.693);
	height: 40%;
	width: 100%;
}

/* price-list */

.price-table {
	margin: 0 auto;
	border: 2px solid black;
}

.price-table thead {
	text-transform: uppercase;
}

.price-table thead th {
	border: 3px solid black;
	font-size: 26px;
}

.price-table td {
	padding: 20px 40px;
	border: 2px solid black;
	text-transform: uppercase;
}

/* contact */

.contact-info {
	text-align: center;
	font-size: 36px;
}

.fas {
	margin-right: 10px;
}
